:root {
  --clock-active-color: goldenrod;
  --clock-inactive-color: #222;
  --clock-bg-color: #000;
  --clock-font: 'Inconsolata';
}

html,
body {
  width: 100%;
  height: 100%;
}

.clock-theme-controller {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: var(--clock-active-color);
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--clock-bg-color);
  font-family: var(--clock-font);
  text-transform: uppercase;
  transition: background-color 600ms;
  -webkit-font-smoothing: antialiased;
}

clock {
  width: 90vw;
  height: 92vh;
  user-select: none;
}

glyph {
  float: left;
  display: block;
  width: 6.25%;
  height: 6.25%;
  font-size: 2.6vh;
  font-weight: 300;
  line-height: 5.5vh;
  text-align: center;
  color: var(--clock-inactive-color);
  transition: color 400ms ease-in-out;
}

@media screen and (min-height: 1200px) and (max-width: 1200px) {
  glyph {
    font-size: 1.6vh;
  }
}

.on glyph {
  color: var(--clock-active-color);
}
